<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bupt.ims.dao.ItemListDao">
    <insert id="insert" parameterType="ItemList">
        insert into itemList (project_id, student_id, file, time, status)
                        values(#{project_id}, #{student_id}, #{file}, #{time}, #{status})
    </insert>

    <update id="update" parameterType="ItemList">
        update itemList
        <trim prefix="set" suffixOverrides=",">
            <if test="project_id!=null and project_id!=0">project_id=#{project_id},</if>
            <if test="student_id!=null and student_id!=0">student_id=#{student_id},</if>
            <if test="file!=null and file!='null'">file=#{file},</if>
            <if test="status!=null and status!=0">status=#{status}</if>
            <if test="school_audit!=null and school_audit!=0">school_audit=#{school_audit}</if>
            <if test="base_audit!=null and base_audit!=0">base_audit=#{base_audit}</if>
            <if test="tutor1_audit!=null and tutor1_audit!=0">tutor1_audit=#{tutor1_audit}</if>
            <if test="tutor2_audit!=null and tutor2_audit!=0">tutor2_audit=#{tutor2_audit}</if>
        </trim>
        where order_id=#{order_id};
    </update>

    <select id="findByOrderId" resultType="ItemList" parameterType="long">
        select * from ItemList where order_id=#{order_id}
    </select>

    <select id="findBy2Id" resultType="int" parameterType="long">
        select count(*) from ItemList where project_id=#{project_id} and student_id=#{student_id}
    </select>

    <select id="findByProjectId" resultType="ItemList" parameterType="long">
        select * from itemList where project_id=#{project_id};
    </select>

    <select id="findByInternsId" resultType="ItemList" parameterType="long">
        select * from itemList where student_id=#{student_id};
    </select>

    <delete id="deleteByProjectId" parameterType="long">
        delete from itemList where project_id=#{id};
    </delete>

    <delete id="deleteByInternsId" parameterType="long">
        delete from itemList where student_id=#{id};
    </delete>
</mapper>